<h1>About</h1>

<h2>Founders:</h2>
<ul>Rose Chen, the Chief Development Officer</ul>
<ul>Cherry Ke, the Chief Executive Officer</ul>
<ul>April Liu, the Chief Design Officer</ul>
<ul>Diana Birsan, the Chief Ideas Manager, and the mentor.</ul>

<h2>Goals:</h2>
<p>When Recipeazy was launched, its main goal was for others to be able 
to have cheap but healthy recipes, as most families who were on a low 
budjet needed to buy meals that fit their budjet would buy unhealthy 
products.</p>



<h2>Extra assistance:</h2>
<p>If you need any help, feel free to visit our discord server: https://discord.gg/X8gTkCp
In order to make sure you are not a bot, you will have to be atleast level
1 before being allowed to ask for furthur assistance.</p>